// .material-icons.green {
//   color: green;
// }
// tr:hover {
//   background-color: rgb(219, 204, 204);
// }
// table {
//   width: 100%;
//   text-align: center !important;
//   th {
//     // background-color: #4caf50;
//     background-color: #4caf50;
//     color: white;
//     font-family: Times New Roman bold;
//     font-size: 16px;
//     width: 20vmin;
//   }
//   // tr:nth-child(even) {
//   //   background-color: #f2f2f2;
//   // }
// }
// .select-column {
//   min-width: 20px;
//   padding-left: 2px;
//   padding-right: 2px;
// }
// tr.example-detail-row {
//   height: 0;
// }

// tr.example-element-row:not(.example-expanded-row):hover {
//   background: rgb(211, 243, 162);
// }

// tr.example-element-row:not(.example-expanded-row):active {
//   background: #efefef;
// }

// .example-element-row td {
//   border-bottom-width: 0;
// }

// .example-element-detail {
//   overflow: hidden;
//   display: flex;
// }

.material-icons.green {
  color: green;
}
tr:hover {
  background-color: rgb(219, 204, 204);
}
table {
  width: 100%;
  text-align: center !important;
  th {
    // background-color: #4caf50;
    background-color: #f0f0f0;
    text-transform: uppercase;

    font-weight: 400;
    //  letter-spacing: 2px;
    color: #999;

    font-size: 16px;
    width: 20vmin;
  }
  // tr:nth-child(even) {
  //   background-color: #f2f2f2;
  // }
}
.select-column {
  min-width: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(211, 243, 162);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
