:host {
  ::ng-deep {
    .mat-card {
      border-radius: 10px;
      min-height: 1px;
    }
    .hyperlinks {
      display: block;
      text-decoration: none;
      &:hover {
        color: #ffffdc;
      }
    }
    .dashBoardImage {
      height: 5em;
    }
  }
}
